{% extends "layout.html" %}
{% block content %}
<p>
    Manage
    <ul>
        {% for item in items %}
        <li>
            <form action='#' method="post" enctype="multipart/form-data" onsubmit="return confirm('Do you really want to delete {{ item['name'] }}? This action cannot be undone.');">
                {{ item['name'] }}
                <input type="hidden" value="{{ item['id'] }}" name="id" />
                <input type="submit" value="delete" />
            </form>
        </li>
        {% endfor %}
    </ul>
</p>
<p>
    Create
    <form action='#' method="post" enctype="multipart/form-data">
        First Name:
        <input type="text" name="f_name" /><br>
        Last Name:
        <input type="text" name="l_name" /><br>
        <input type="submit" value="create" />
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
            {% if category == 'error' %}
              <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p>
{% endblock %}
